* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: #000000;
    background-color: #D5D3E8;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

h1 {
    font-size: 18px;
    font-weight: bolf;
    text-align: center;
}

a {
    color: deeppink;
    text-decoration: none;
}

a:hover {
    color: darkmagenta;
}

ul {
    color: #F988AD;
    font-weight: bold;
}
